<template>
  <div id="barchartdiv">
    <div class="barchartdiv" ref="chartdiv"></div>
  </div>
</template>

<script>

import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
import am4themes_animated from '@amcharts/amcharts4/themes/animated'
// import am4themes_kelly from '@amcharts/amcharts4/themes/kelly'

export default {
  name: 'barChart',
  props: {
    data: {
      type: Object,
      default: () => []
    }
  },
  data () {
    return {
      chart: null
    }
  },
  mounted () {
    console.log()
    this.barChart(this.data)
  },
  beforeDestroy () {
    if (this.chart) {
      this.chart.dispose()
    }
  },
  methods: {
    async barChart (value) {
      // Themes begin
      am4core.useTheme(am4themes_animated)
      // am4core.useTheme(am4themes_kelly)
      // Themes end

      const chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart)
      chart.padding(40, 40, 40, 40)

      const categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis())
      categoryAxis.renderer.grid.template.location = 0
      categoryAxis.dataFields.category = 'network'
      categoryAxis.renderer.minGridDistance = 1
      categoryAxis.renderer.inversed = true
      categoryAxis.renderer.grid.template.disabled = true

      const valueAxis = chart.xAxes.push(new am4charts.ValueAxis())
      valueAxis.min = 0

      const series = chart.series.push(new am4charts.ColumnSeries())
      series.dataFields.categoryY = 'network'
      series.dataFields.valueX = 'MAU'
      // series.tooltipText = '{valueY.value}'
      series.columns.template.strokeOpacity = 0
      series.columns.template.height = 20
      series.columns.template.column.cornerRadiusBottomRight = 5
      series.columns.template.column.cornerRadiusTopRight = 5

      const labelBullet = series.bullets.push(new am4charts.LabelBullet())
      labelBullet.label.horizontalCenter = 'left'
      labelBullet.label.dx = 10
      labelBullet.label.text = '{values.valueX.workingValue.formatNumber(\'#.00\')}%'
      labelBullet.locationX = 1

      // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
      series.columns.template.adapter.add('fill', function (fill, target) {
        return chart.colors.getIndex(target.dataItem.index)
      })
      //   categoryAxis.sortBySeries = series
      chart.data = [
        {
          'network': 'CPU',
          'MAU': value.Cpu
        },
        {
          'network': 'RAM',
          'MAU': value.Ram
        },
        {
          'network': 'Drive C',
          'MAU': value.Drive_C
        },
        {
          'network': 'Drive D',
          'MAU': value.Drive_D
        },
        {
          'network': 'Drive E',
          'MAU': value.Drive_E
        }
      ]
    }
  }
}
</script>

<style scoped>
.barchartdiv {
  width: 100%;
  height: 300px;
}

</style>