<template>
    <div class="gaugeChart" ref="chartdiv"></div>
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
import am4themes_animated from '@amcharts/amcharts4/themes/animated'

am4core.useTheme(am4themes_animated)

export default {
  name: 'gaugeChart',
  props: {
    data: {
      type: Object,
      default: () => []
    }
  },
  data () {
    return {
      chart: null
    }
  },
  mounted () {
    // console.log(this.data)
    this.gaugeChart(this.data)
  },
  beforeDestroy () {
    if (this.chart) {
      this.chart.dispose()
    }
  },
  methods:{
    async gaugeChart (data) {
      // console.log(data.Cpu, data.Server)
        
      const chart = am4core.create(this.$refs.chartdiv, am4charts.GaugeChart)
      chart.innerRadius = am4core.percent(82)
      const axis = chart.xAxes.push(new am4charts.ValueAxis())
      axis.min = 0
      axis.max = 100
      axis.strictMinMax = true
      axis.renderer.radius = am4core.percent(80)
      axis.renderer.inside = true
      axis.renderer.ticks.template.disabled = false
      axis.renderer.ticks.template.strokeOpacity = 1
      axis.renderer.ticks.template.length = 10
      axis.renderer.grid.template.disabled = true
      axis.renderer.labels.template.radius = 30 
      axis.renderer.labels.template.fontSize = 8
      axis.renderer.labels.template.adapter.add('text', function (text) {
        return `${text}%`
      })
      // const colorSet = new am4core.ColorSet()
      const axis2 = chart.xAxes.push(new am4charts.ValueAxis())
      axis2.min = 0
      axis2.max = 100
      axis2.strictMinMax = true
      axis2.renderer.labels.template.disabled = true
      axis2.renderer.ticks.template.disabled = true
      axis2.renderer.grid.template.disabled = true

      const range0 = axis2.axisRanges.create()
      range0.value = 0
      range0.endValue = 20
      range0.axisFill.fillOpacity = 1
      range0.axisFill.fill = am4core.color('#5F9EA0')

      const range4 = axis2.axisRanges.create()
      range4.value = 20
      range4.endValue = 40
      range4.axisFill.fillOpacity = 1
      range4.axisFill.fill = am4core.color('#fdc854')

      const range3 = axis2.axisRanges.create()
      range3.value = 40
      range3.endValue = 60
      range3.axisFill.fillOpacity = 1
      range3.axisFill.fill = am4core.color('#fdb456')

      const range2 = axis2.axisRanges.create()
      range2.value = 60
      range2.endValue = 80
      range2.axisFill.fillOpacity = 1
      range2.axisFill.fill = am4core.color('#F4A460')

      const range1 = axis2.axisRanges.create()
      range1.value = 80
      range1.endValue = 100
      range1.axisFill.fillOpacity = 1
      range1.axisFill.fill = am4core.color('#CD5C5C')

      //* LABEL
      const label = chart.radarContainer.createChild(am4core.Label)
      label.isMeasured = false
      label.fontSize = 15
      label.x = am4core.percent(50)
      label.y = am4core.percent(100)
      label.paddingBottom = 30
      label.horizontalCenter = 'middle'
      label.verticalCenter = 'bottom'
      label.text = '0%'

      const label2 = chart.radarContainer.createChild(am4core.Label)
      label2.isMeasured = false
      label2.fontSize = 15
      label2.x = am4core.percent(50)
      label2.y = am4core.percent(100)
      label2.horizontalCenter = 'middle'
      label2.verticalCenter = 'bottom'
      label2.text = 'CPU Usage'

      //*HAND
      const hand = chart.hands.push(new am4charts.ClockHand())
      hand.pin.disabled = true
      hand.fill = am4core.color('#000')
      hand.stroke = am4core.color('#000')
      hand.innerRadius = am4core.percent(40)
      hand.radius = am4core.percent(100)
      hand.startWidth = 5
      //   hand.startWidth = 15
      //   console.log(this.chartdata)
      hand.value = 0

      hand.events.on('propertychanged', function () {
      // range0.endValue = ev.target.value
      // range1.value = ev.target.value
        label.text = axis2.positionToValue(hand.currentPosition).toFixed(1)
        axis2.invalidate()
      })
      
      setInterval(() => {
        const value = parseFloat(data.Cpu)
        label.text = `${value  }%`
        const animation = new am4core.Animation(hand, {
          property: 'value',
          to: value
        }, 1000, am4core.ease.cubicOut).start()
      }, 2000)

      this.chart = chart 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.gaugeChart {
  width: 100%;
  height: 200px;
}
</style>
