<template>
  <div>
    <div id="chartdiv"></div>
  </div>
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4maps from '@amcharts/amcharts4/maps'
import am4geodata_worldLow from '@amcharts/amcharts4-geodata/thailandLow'
// import am4geodata_continentsLow from '@amcharts/amcharts4-geodata/continentsLow'
import am4themes_animated from '@amcharts/amcharts4/themes/animated'
export default {
  data () {
    return {


    }
  },
  methods: {
    init () {
      am4core.useTheme(am4themes_animated)
      // Low-detail map
      const chart = am4core.create('chartdiv', am4maps.MapChart)
      chart.geodata = am4geodata_worldLow
      chart.projection = new am4maps.projections.Miller()
      const colorSet = new am4core.ColorSet()


      const polygonSeries = chart.series.push(new am4maps.MapPolygonSeries())
      polygonSeries.useGeodata = true
      polygonSeries.mapPolygons.template.events.on('hit', function (ev) {
        chart.zoomToMapObject(ev.target)
      })

      const polygonTemplate = polygonSeries.mapPolygons.template
      polygonTemplate.tooltipText = '{name}'

      // Create hover state and set alternative fill color
      const hs = polygonTemplate.states.create('hover')
      hs.properties.fill = am4core.color('#000000')

      // Add image series
      const imageSeries = chart.series.push(new am4maps.MapImageSeries())
      imageSeries.mapImages.template.propertyFields.longitude = 'longitude'
      imageSeries.mapImages.template.propertyFields.latitude = 'latitude'
      imageSeries.mapImages.template.tooltipText = '{Server}'
      imageSeries.mapImages.template.propertyFields.url = 'url'

      const circle = imageSeries.mapImages.template.createChild(am4core.Circle)
      circle.radius = 3
      circle.propertyFields.fill = 'color'

      const circle2 = imageSeries.mapImages.template.createChild(am4core.Circle)
      circle2.radius = 3
      circle2.propertyFields.fill = 'color'

      circle2.events.on('inited', function (event) {
        animateBullet(event.target)
      })

      function animateBullet (circle) {
        const animation = circle.animate([{ property: 'scale', from: 1, to: 5 }, { property: 'opacity', from: 1, to: 0 }], 1000, am4core.ease.circleOut)
        animation.events.on('animationended', function (event) {
          animateBullet(event.target.object)
        })
      }

      imageSeries.data =         [
        {
          Server: 'Center (SornChon)',
          latitude: 13.75398,
          longitude: 100.50144,
          color: '#7F8C8D'
        },
        {
          Server: 'Satun',
          latitude: 6.61186,
          longitude: 100.06814,
          color: '#229954'
        },
        {
          Server: 'Petchaburi',
          latitude: 13.117958,
          longitude: 99.957561,
          color: '#C0392B'
        },
        {
          Server: 'Songkhla',
          latitude: 7.19882,
          longitude: 100.5951,
          color: '#7F8C8D'
        },
        {
          Server: 'Prachaup Khirikhan',
          latitude: 11.906153,
          longitude: 99.801206,
          color: '#C0392B'
        },
        {
          Server: 'Chumphon',
          latitude: 10.490703,
          longitude:  99.179772,
          color: '#229954'
        },
        {
          Server: 'Chonburi',
          latitude: 12.6625,
          longitude: 100.904167,
          // url: 'http://www.google.com',
          color: '#229954'
        },
        {
          Server: 'Rayong',
          latitude: 12.66,
          longitude: 101.3,
          color: '#229954'
        },
        {
          Server: 'Samui (Surat)',
          latitude: 9.4419,
          longitude: 100.023611,
          color: '#7F8C8D'
        },
        {
          Server: 'Ranong',
          latitude: 10.083056,
          longitude: 98.669722,
          // url: 'http://www.google.com',
          color: '#7F8C8D'
        },
        {
          Server: 'Phuket',
          latitude: 7.819456,
          longitude: 98.350136,
          color: '#C0392B'
        },
        {
          Server: 'Nakhonsri Thammarat',
          latitude: 8.501,
          longitude: 100.175,
          color: '#7F8C8D'
        },
        {
          Server: 'Pattani',
          latitude: 6.896911,
          longitude: 101.248422,
          color: '#7F8C8D'
        }
      ]
      
    }
    
  },
  mounted () {
    this.init()
  }
}
</script>

<style>
#chartdiv,
#chartdiv2 {
  width: 100%;
  height: 730px;
  margin: auto;
}
</style>
