<template>
  <vs-table :data="data">

    <template slot="thead">
      <vs-th>Server</vs-th>
      <vs-th>CPU (%)</vs-th>
      <vs-th>RAM (%)</vs-th>
      <vs-th>Drive C (%)</vs-th>
      <vs-th>Drive D (%)</vs-th>
      <vs-th>Drive E (%)</vs-th>
      <vs-th>Temperature (°C)</vs-th>
      <vs-th>status</vs-th>
    </template>

    <template slot-scope="{data}">
      <vs-tr :key="indextr" v-for="(tr, indextr) in data">

        <vs-td  :data="data[indextr].Server">
          <a :href="'#' + data[indextr].id" >{{ data[indextr].Server }}</a>
        </vs-td>
        
        <vs-td  :data="data[indextr].Cpu">
          {{ data[indextr].Cpu }}
        </vs-td>

        <vs-td  :data="data[indextr].Ram">
          {{ data[indextr].Ram }}
        </vs-td>

        <vs-td  :data="data[indextr].Drive_C">
          {{ data[indextr].Drive_C }}
        </vs-td>

        <vs-td  :data="data[indextr].Drive_D">
          {{ data[indextr].Drive_D }}
        </vs-td>

        <vs-td  :data="data[indextr].Drive_E">
          {{ data[indextr].Drive_E }}
        </vs-td>

        <vs-td  :data="data[indextr].Temperature_C">
          {{ data[indextr].Temperature_C }}
        </vs-td>

        <vs-td>
          <div v-if="data[indextr].Cpu > 10">
            <div v-if="data[indextr].Drive_C > 90 || data[indextr].Drive_D > 90 ">
              <vs-chip color="danger">Danger</vs-chip>
            </div>
            <div v-else >
              <vs-chip color="#229954">Online</vs-chip>
            </div>
          </div>
          <div v-else >
            <vs-chip>Offline</vs-chip>
          </div>
        </vs-td>

      </vs-tr>
    </template>

  </vs-table>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  methods:{
    // async getDatas () {
    //   await axios({
    //     url : `${API_URL}/servers`,
    //     methods: 'GET'
    //   })
    //     .then(resp => {
    //       this.data = resp.data
    //       // console.log(resp.data)
    //     })
    //     .catch(err => alert(err))
    // }
  },
  mounted () {
    // this.getDatas()
  }
}
</script>
<style scoped>
</style>